#homePage {
    text-align: center;
}

#headerHome {
    width: 100%;
}

#search_container {
    display: inline-flex;
}

#navbaritems .nav-item .nav-link {
    color: gray
}
#navbaritems .nav-item:hover .nav-link {
    color: white; 
}

#survey_container {
    background-color: white;
    border: 2px solid black;
    height: 100%;
    width: 700px;
    margin: auto;
    text-align: center;
    display: none;
}

#inputlabel {
    padding-top: 10px;
}

#recommend_container {
    display: inline-flex;
}

#recommend_container2 {
    display: inline-flex;
}

#aboutus_container{
    display: none;
}

#brands_container{
    display: none;
}

#customer_container{
    display: none;
    margin: auto;
}

#login_container{
    display: none;
}

#signup_container{
    display: none;
}

#search_container{
    display: none;
}

#two_container{
    width: 200px;
    margin: auto;
}

#about_body{
    text-align: center;
}

#error_login{
    display: none;
}

#signup_error{
    display: none;
}

#post_login{
    display: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#wishlist_container{
    display: none;
    text-align: center;
}

#wishlist_results{
    display: none;
}

#chatroom_container {
    border: 2px solid #2c3e50;
    display: block;
    height: auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
    background-color: #ecf0f1;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
#chatroom {
    border: 2px solid #2980b9;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: left;
    display: inline-block;
    height: auto;
    padding: 20px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 400px;
}

#chats {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#chats li {
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.enter {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    font-size: 1em;
}

button#chatSend {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button#chatSend:hover {
    background-color: gray;
}

#chatPost {
    width: calc(100% - 60px); 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    font-size: 1em;
}

#just_center{
    width: 700px;
    margin: auto;
}

#so_pointless{
    display: inline-flex;
}
